/*侧边栏*/
.sidebar {
	border-top: 1px solid #202b3a;
	margin-top:-1px;
	width:14%;
	height: 600px;
	background: #324057;
}

.sidebar ul {
	background: #324057;
	padding: 0;
	margin: 0;
}

.sidebar ul li {
	list-style: none;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	color: #d4d4d4;
	font-size: 15px;
	cursor: pointer;
}

.sidebar ul li:hover {
	text-decoration: none;
	background-color: #48576A;
}

.sidebar .sub-sidebar{
	background-color: #1e273c;
}
.sidebar>ul ul{
	display: none;
}
.sidebar .sub-sidebar li a{
	text-indent: 1em;
	display: block;
	color: #fff;
}
.sidebar .sub-sidebar li a:hover{
	text-decoration: none;
}
.sidebar .sub-sidebar li a:link{
	text-decoration: none;
}
.sidebar>ul .checked{
	display: block;
}
.sidebar>ul .sub-sidebar .checked-a{
	color: #2F9BE9;
}